body{
    background-color: rgb(55,55,55);
    margin-left: 5px;
    color:white;
}

header{
    font-size: 2em;
    text-align: center;
    color: darkgrey;
    text-shadow: 10px 10px 10px black;
    height: 70px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.conteiner{
    display: flex;
    width: 420px;       
}

.indice{
    width: 70px;
    height: 40px; 
    margin: 2px 3px 8px 3px;    
    font-weight: bold;
    font-size: 1em;
    background-color: white;
}
#indice_id{
    width: 40px;
    height: 40px; 
    margin: 2px 3px 8px 2px;    
    font-weight: bold;
    font-size: 1em;
    background-color: white;
}
.botao_vetor{
    display: flex;  
    background-color: rgb(55,55,55);
    width: 420px;        
}
#reset{
    margin-left: 30px;
}


#coluna_id{
    width: 40px;

}
#coluna_start{
    width: 80px;    
}
#coluna_stop{
    width: 80px;    
}
#coluna_inicio{
    width: 80px;    
}
#coluna_fim{
    width: 80px;    
}
#coluna_parcial{
    width: 80px;    
}


.btn_id{
    width: 40px;
    height: 40px; 
    margin: 2px;
    background-color: white;
    font-weight: bold;   
}
.btn_start{ 
    width: 70px;
    height: 40px; 
    margin: 2px 4px 2px 4px;
    background-color: white;    
    border-radius: 12px;
    border:3px solid gray;
    border-style: outset;
    box-shadow: 2px 2px 2px 0px black;
}
.btn_stop{  
    width: 70px;
    height: 40px; 
    margin: 2px 4px 2px 4px;    
    background-color: white;
    border-radius: 12px;
    border:3px solid gray;
    border-style: outset;
    box-shadow: 2px 2px 2px 0px black;
}
.visor_inicio{
    width: 70px;
    height: 40px; 
    margin: 2px 3px 2px 2px;
    background-color: white;
}
.visor_fim{
    width: 70px;
    height: 40px; 
    margin: 2px 3px 2px 2px;
    background-color: white;
}
.visor_parcial{
    width: 70px;
    height: 40px; 
    margin: 2px 3px;
    background-color: white;
}



#lbl_total{
    color: white;
    font-weight: bold;
    margin-left: 190px;
    
}
#visor_total{
    height: 40px;
    width: 70px;
    margin-left: 10px;
    margin-top: 40px;
    font-weight: bold;
    border-radius: 0px;    
    background-color: white;    
    border:3px solid gray;
    border-style: outset;
    box-shadow: 2px 2px 2px 0px black;
}
#btn_reset{
    height: 40px;
    margin-left: 190px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;

    width: 80px;
    height: 50px;   
    background-color: white;
    border-radius: 10px;
    border:3px solid gray;
    border-style: outset;
    box-shadow: 2px 2px 2px 0px black;
}
footer{
    font-style: italic;
    color:white;
    font-size: 1em;
    margin-top: 30px;
    
}